.ipynb_checkpoints/
.env
.streamlit/secrets.toml
venv/*
jupyter_notebooks/chroma/
 jupyter_notebooks/__pycache__/
 .idea/misc.xml
.idea/misc.xml
jupyter_notebooks/__pycache__/
rob_data/
scratch.html
rspac-helpdocs
machine-learning/venv
.DS_Store
