[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
requests = "*"
openai = "*"
scipy = "*"
tenacity = "*"
tiktoken = "*"
termcolor = "*"
rspace-client = "*"
streamlit = "*"
python-dotenv = "*"
chroma = "*"
lark = "*"
langchain = {extras = ["docarray"], version = "*"}
docarray = "*"
pydantic = "==1.10.9"
pypdf = "*"
icecream = "*"
chromadb = "==0.4.3"

[dev-packages]

[requires]
python_version = "3.10"
